@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");

body, button, input, optgroup, select, textarea, div, span {
    font-family: "Noto Sans TC",sans-serif;
}

.particle {
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:-1;
}


