.image-box{
    display: block;
    position: relative;
}

#celebrity-pic{
    display: block;
    position: relative;
}

.bounding-box{
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    background: transparent;
    content:" "
}


